body {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

canvas {
  flex: none;
}

.score, .best-score {
  font-size: 40px;
  margin: 0 20px;
}
